div.dt-button-collection {
    overflow: visible !important;
}
div.dtsb-searchBuilder {
    justify-content: space-evenly;
    cursor: default;
    margin-bottom: 1em;

    button.dtsb-button,
    select {
        font-size: 1em;
    }

    div.dtsb-titleRow {
        justify-content: space-evenly;
        margin-bottom: 0.5em;
    
        div.dtsb-title {
            display: inline-block;
            padding-top: 6px;
        }

        button.dtsb-clearAll {
            float: right;
        }
    }

    div.dtsb-vertical {
        .dtsb-value, .dtsb-data, .dtsb-condition {
            display: block;
        }
    }

    div.dtsb-group {
        position: relative;
        clear: both;
        margin-bottom: 0.8em;

        button.dtsb-clearGroup {
            margin: 2px;
        }

        button.dtsb-add {
            padding-left: 0.5em;
            padding-right: 0.5em;
        }

        div.dtsb-logicContainer {
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
            position: absolute;
            margin-top: 0.8em;
            margin-right: 0.8em;
        }

        div.dtsb-criteria {
            margin-bottom: 0.8em;

            select.dtsb-dropDown, input.dtsb-input{
                padding: 0.4em;
                margin-right: 0.8em;

                option.dtsb-notItalic {
                    font-style: normal;
                }
            }

            select.dtsb-italic{
                font-style: italic;
            }

            div.dtsb-buttonContainer {
                float: right;
                display: inline-block;

                button.dtsb-delete, button.dtsb-right, button.dtsb-left{
                    margin-right: 0.8em;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            span.dtsp-joiner {
                margin-right: 0.8em;
            }
        }
    }
}