div.dtsb-searchBuilder {
    justify-content: space-evenly;
    cursor: default;
    margin-bottom: 1em;

    div.dtsb-titleRow{
        justify-content: space-evenly;
        margin-bottom: 0.5em;
    
        div.dtsb-title {
            display: inline-block;
            font-size: 1em;
            padding: 5px;
            margin-top: 9px;
            margin-left: 10px;
        }

        button.dtsb-clearAll {
            margin-top: 10px;
            float: right;
        }
    }

    div.dtsb-vertical {
        .dtsb-value, .dtsb-data, .dtsb-condition {
            display: block;
        }
    }

    div.dtsb-group {
        position: relative;
        /* background-color: #e4e2e2; */
        border-radius: 3px;
        margin-left: 10px;

        button.dtsb-clearGroup {
            margin: 2px;
        }

        button.dtsb-add {
            margin-bottom: 0px;
            margin-top: 10px;
            padding-left: 8px;
            padding-right: 8px;
            min-width: 80px !important;
            text-align: left;
        }

        div.dtsb-logicContainer {
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
            position: absolute;
            margin-top: 5px;
            margin-right: 10px;
        }

        div.dtsb-criteria {
            margin-top: 10px;

            select.dtsb-dropDown, input.dtsb-input{
                padding: 5px;
                margin-right: 10px;
            }

            button.dtsb-delete, button.dtsb-right, button.dtsb-left{
                float: right;
                margin-right: 10px;
            }

            span.dtsp-joiner {
                margin-right: 10px;
            }
        }
    }

    div.dtsb-indentTop {
        margin-left: 50px;   
    }

    div.dtsb-indentSub {
        margin-left: 40px;
    }
}