@import './common.scss';

div.dt-button-collection {
    border: 1px solid rgba(34,36,38,0.15);
    border-radius: 4px;

    div.dtsb-searchBuilder {
        margin: 10px;

        div.dtsb-titleRow {
            font-size: 13.33px;

            button.dtsb-clearAll {
                border: none;
                border-radius: 4px;
            }
        }
        select.ui.dropdown {
            font-size: 13.33px;
        }

        div.dtsb-logicContainer {
            margin-top: 10px !important;
            border: 1px solid rgba(34, 36, 38, 0.15);
            border-radius: 4px;
        }

        div.dtsb-criteria,
        div.dtsb-group {
            margin-bottom: 10px !important;
        }
    }
}

div.dtsb-searchBuilder {
    button.dtsb-button {
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        min-width: 30px;
        min-height: 30px;
    }

    div.dtsb-titleRow {
        margin-bottom: 1em;

        button.dtsb-clearAll {
            margin-bottom: 0px;
        }
    }
    div.dtsb-group{
        div.dtsb-criteria{
            select {
                width: auto !important;
            }

            select.dtsb-condition {
                border-color: #21ba45;
            }

            select.dtsb-data {
                border-color: #db2828;
            }

            select.dtsb-value, input.dtsb-value {
                border-color: #2185d0;
            }
        }

        button.ui.button {
            border-radius: 4px;
        }
        
        div.dtsb-logicContainer{
            border-radius: 4px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: flex-start;
            align-items: flex-start;
            margin-top: 0.8em;

            button.dtsb-logic {
                border: none;
                border-radius: 0px;
                flex-grow: 1;
                flex-shrink: 0;
                flex-basis: 2.5em;
                margin: 0px;
            }
    
            button.dtsb-clearGroup {
                border: none;
                border-radius: 0px;
                flex-grow: 0;
                width: 2em;
                margin: 0px;
            }
        }
    }
}