@import './dateTime.scss';
@import './common.scss';

$border-width: 1px;

div.dtsb-searchBuilder {
    button.dtsb-button {
        border: $border-width solid #cecece;
        background-color: transparent;
        border-radius: 3px;
        padding: 5px;
        margin-right: 10px;
        margin-bottom: 5px;
        min-width: 29px;
        &:hover {
            background-color: #cecece !important;
            cursor: pointer;
        }
    }

    .dtsb-greyscale {
        border: $border-width solid #cecece !important;
    }

    div.dtsb-logicContainer {
        .dtsb-greyscale {
            border: none !important;
        }
    }

    button.dtsb-iptbtn {
        min-width: 100px;
        text-align: left;
    }

    div.dtsb-group {
        div.dtsb-logicContainer{
            border: $border-width solid;
            border-color: #cecece;
            border-radius: 3px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: flex-start;
            align-items: flex-start;

            button.dtsb-logic {
                border: none;
                background-color: transparent;
                border-radius: 0px;
                // background-color: #48b13c;
                flex-grow: 1;
                flex-shrink: 0;
                flex-basis: 40px;
                margin: 0px;
            }
    
            button.dtsb-clearGroup {
                border: none;
                border-radius: 0px;
                width: 30px;
                margin: 0px;
            }
        }

        div.dtsb-criteria {
            select.dtsb-dropDown, input.dtsb-input{
                border: $border-width solid;
                border-radius: 3px;
                //background-color: #cecece;
            }

            select.dtsb-condition {
                border-color: #48b13c;
                // background-color: #48b13c;
            }

            select.dtsb-data {
                border-color: #e70f00;
                // background-color: #e70f00;
            }

            select.dtsb-value, input.dtsb-value {
                border-color: #0069ba;
                // background-color: #0069ba;
            }

            select.dtsb-condition, select.dtsb-data, select.dtsb-value {
                option.dtsb-option {
                    background-color: white;
                }
            }
        }
    }
}

